# CONTROL FLOW PROBLEMS

In [5]:
'''
1. Input a number and find the sum of first and last digit of the number
# input = 1234456
# output =  7  ( 1 + 6 )
'''

def solution1(n):
    sums = 0
    s = str(n)
    sums = int(s[0]) + int(s[-1])
    return sums

def solution2(n):
    last = n % 10
    while n >= 10:
        n //= 10
    first = n
    return last + first

n = 123456
print(solution1(n))
print(solution2(n))

7
7

In [7]:
''' 
2. PRODUCT OF DIGITS
the task is to find the product of the digits
n = 12345
result = 120
'''

def solution1(n):
    num = n
    product = 1
    while num > 0:
        rem = num % 10
        product *= rem
        num //= 10

    return product

n = 12345
print(solution1(n))

120

In [8]:
'''
3. PALINDROME NUMBER
The task is to check whether the number is palindrome or not
input = 121
output = True
input = -121
output = False
'''

def solution31(n):
    if n < 0:
        return False
    rev = 0
    num = n
    while num > 0:
        temp = num % 10
        rev = rev*10 + temp
        num //= 10
    if rev == n:
        return True
    return False

n1 = 121
n2 = -121
print(solution31(n1))
print(solution31(n2))

True
False

In [10]:
''' 
4. THE POWER OF A NUMBER
The task is to find the power of a number using for loop
input = b = 2 ,e = 5
output = 32
'''

import math as m
def solution41(b,e):
    result = m.pow(b,e)
    return result

def solution42(b,e):
    return b ** e

def solution43(b,e):
    result = 1
    for i in range(e):
        result *= b
    return result


b = 2
e = 5
print(solution41(b,e))
print(solution42(b,e))
print(solution43(b,e))

32.0
32
32

In [11]:
'''
5. FIBONACCI SERIES
The task is to find the fibonacci series till n
'''

def solution51(n):
    a = 0
    b = 1
    c = 0
    for i in range(1,n):
        a=b
        b=c
        c = a+b
        print(c,end=" ")

n = 10
solution51(n)

1 1 2 3 5 8 13 21 34

In [12]:
''' 
6. FACTORS OF N
The task is to find all the factors of a number
'''

def solution61(n):
    result = []
    for i in range(1,n+1):
        if n % i == 0:
            result.append(i)
    return result

n = 24
print(solution61(n))

[1, 2, 3, 4, 6, 8, 12, 24]

In [33]:
''' 
7. PRIME NUMBER 
The task is to check whether the given number is prime or not
input = 17
output = prime
input  4
output Not prime
'''

def solution71(n):
    if n <= 1:
        return "Not prime"
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return "Not prime"
    return "Prime"

# Test
print(solution71(17))  # Prime
print(solution71(4))   # Not prime

Prime
Not prime

In [23]:
''' 
8. PRIME NUMBERS TILL N
The task is to find all the prime numbers till N
'''

def solution81(n):
    result = []
    for i in range(2, n+1):
        flag = 1
        for j in range(2, i//2+1):
            if i % j == 0:
                flag = 0
                break
                
        if flag == 1:
            result.append(i)
    return result
    

n = 20
print(solution81(n))

[2, 3, 5, 7, 11, 13, 17, 19]

In [35]:
''' 
9. PRIME FACTORS
Find all the prime factors of n
n = 10
output = 2,5

'''

def solution91(n):
    result = []
    for i in range(2,n+1):
        if n % i == 0:
          
            flag = 1
            for j in range(2,int(i**0.5)+1):
                if i % j == 0:
                    flag = 0
                    break
            if flag == 1:
                result.append(i)
    return result

n = 10
print(solution91(n))

[2, 5]

In [41]:
''' 
10. LCM 
The task is to find the least common multiples of 2 numbers
input = 5,10
output = 10
'''

def solution101(n1,n2):
    maxi = max(n1,n2)
    mini = min(n1,n2)
    for i in range(maxi, n1*n2+1, maxi):
        if i % mini == 0:
            return i
        
    return -1

print(solution101(8,4))

8

In [43]:
''' 
11. HCF of two numbers
the task is to find the greatest common divisor of two numbers
'''

def solution1101(a,b):
    gcd = 0
    for i in range(1, min(a,b)+1):
        if a % i == 0 and b % i == 0:
            gcd = i
    return gcd

def solution1102(a,b):
    gcd = 0
    for i in range(min(a,b),0,-1):
        if a % i == 0 and b % i == 0:
            return i
    return -1


def solution1103(a,b):
    while a >0 and b > 0:
        if a > b:
            a = a % b
        else:
            b = b % a
    if a == 0:
        return b
    return a

print(solution1101(15, 30))
print(solution1102(15,30))
print(solution1103(15,30))

15
15
15

In [46]:
''' 
12. PERFECT NUMBER
The task is to check whether the given number is prefect or not
'''

def solution1201(n):
    sums = 0
    for i in range(1,n):
        if n % i == 0:
            sums += i
    return sums == n

n = 28
print(solution1201(n))

True

In [49]:
''' 
13. STRONG NUMBERS
The task is to check whether the given number is a strong number or not
'''

def fact(n):
    if n == 1:
        return 1
    return n * fact(n-1)

def solution1301(n):
    sums = 0
    num = n
    while num > 0:
        temp = num % 10
        res = fact(temp)
        sums += res
        num //= 10
    
    return sums == n

n = 145111
print(solution1301(n))

False

In [50]:
''' 
14. SQUARE PATTERN
'''

def solution14(n):
    for i in range(n):
        for j in range(n):
            print('*',end="")
        print()

solution14(5)

*****
*****
*****
*****
*****

In [54]:
'''
15. HOLLOW SQUARE PATTERN
'''
def solution15(n):
    for i in range(n):
        for j in range(n):
            if i == 0 or i == n-1:
                print("*",end="")
            else:
                if j ==0 or j == n-1:
                    print("*",end="")
                else:
                    print(" ",end="")
        print()

solution15(5)

*****
*   *
*   *
*   *
*****

In [60]:
''' 
16. HOLLOW SQUARE STAR PATTERN WITH DIAGONAL
'''

def solution16(n):
    for i in range(n):
        for j in range(n):
            if i == 0 or i == n-1 or i == j or i+j == n-1:
                print(".",end="")
            else:
                if j ==0 or j == n-1:
                    print(".",end="")
                else:
                    print(" ",end="")
        print()

solution16(10
           )

..........
..      ..
. .    . .
.  .  .  .
.   ..   .
.   ..   .
.  .  .  .
. .    . .
..      ..
..........

In [61]:
''' 
17. Rhombus star pattern
'''

def solution17(n):
    for i in range(1,n+1):
        for j in range(1,n+1-i):
            print(" ",end="")
        for j in range(1,n+1):
            print("*",end="")
        print()
solution17(5)

    *****
   *****
  *****
 *****
*****

In [62]:
''' 
18. Mirrored Rhombus star pattern
'''

def solution18(n):
    for i in range(1,n+1):
        for j in range(1, i):
            print(" ",end= "")
        for j in range(1, n+1):
            print("*",end="")
        print()
solution18(5)

*****
 *****
  *****
   *****
    *****

In [64]:
''' 
19. RIGHT ANGLED TRIANGLE STAR PATTERN
'''

def solution19(n):
    for i in range(n):
        for j in range(i+1):
            print("*",end="")
        print()

solution19(6)

*
**
***
****
*****
******

In [ ]:
''' 
20. HOLLOW RIGHT ANGLED STAR PATTERN
'''

def solution20(n):
    for i in range(n):
        for j in range(i+1):
            if i == 0  or i == n-1:
                print("*",end="")
            elif j == 0 or j == i:
                print("*",end="")
            else:
                print(" ",end="")
        print()
solution20(5)

*
**
* *
*  *
*****

In [73]:
''' 
21. MIRRORED RIGHT ANGLED TRIANGLE
'''

def solution21(n):
    for i in range(1,n+1):
        for j in range(i, n):
            print(" ",end="")
        for j in range(1, i+1):
            print("*",end="")
        print()
solution21(5)

    *
   **
  ***
 ****
*****

In [78]:
''' 
22. HOLLOWED RIGHT ANGLED MIRRORED TRIANGLE
'''
def solution22(n):
    for i in range(1,n+1):
        for j in range(i, n):
            print(" ",end="")
        for j in range(1,i+1):
            if j == 1 or j == i or i ==1 or i == n:
                print("*",end="")
            else:
                print(" ",end="")
        print()
solution22(5)

    *
   **
  * *
 *  *
*****

In [79]:
''' 
23. INVERTED RIGHT ANGLED TRIANGLE
'''
def solution23(n):
    for i in range(n):
        for j in range(n-i):
            print("*",end="")
        print()
solution23(5)

*****
****
***
**
*

In [80]:
''' 
24. PYRAMMID STAR PATTERN : EQUILATERAL TRIANGLE
'''
def solution24(n):
    for i in range(1, n+1):
        for j in range(1, n-i+1):
            print(" ",end="")
        for j in range(1, 2*i):
            print("*",end="")
        print()
solution24(5)

    *
   ***
  *****
 *******
*********

In [89]:
''' 
25. HOLLOW PYRAMID STAR PATTERN
'''

def solution25(n):
    for i in range(1,n+1):
        for j in range(1,n-i):
            print(" ",end="")
        for j in range(1, 2*i):
            if i == 1 or i == n or j == 1 or j == 2*i-1:
                print("*",end="")
            else:
                print(" ",end="")
        print()
solution25(5)

   *
  * *
 *   *
*     *
*********

In [95]:
''' 
26. INVERTED STAR PYRAMID
'''

def solution26(n):
    for i in range(1,n+1):
        for j in range(i):
            print(" ",end="")
        for j in range(1, 2*n-(2*i-1)+1):
            print("*",end="")
        
        print()
solution26(5)

 *********
  *******
   *****
    ***
     *

In [97]:
''' 
27. HOLLOW INVERTED STAR PYRAMID
'''

def solution27(n):
    for i in range(1,n+1):
        for j in range(i):
            print(" ",end="")
        for j in range(1, 2*n-(2*i-1)+1):
            if i == 1 or i == n or j == 1 or j == 2*n - (2*i-1):
                print("*",end="")
            else:
                print(" ",end="")
        print()

solution27(5)

 *********
  *     *
   *   *
    * *
     *

In [98]:
''' 
28. Print 1, 0 number pattern at alternate rows
11111
00000
11111
00000
11111
00000
'''
def solution28(rows, cols):
    for i in range(rows):
        for j in range(cols):
            if i % 2 == 0:
                print("1",end="")
            else:
                print("0",end="")
        print()
solution28(5,6)

111111
000000
111111
000000
111111

In [99]:
''' 
29 . Print 1, 0 number pattern at alternate columns
'''
def solution29(rows, cols):
    for i in range(rows):
        for j in range(cols):
            if j % 2 == 0:
                print("1",end="")
            else:
                print("0",end="")
            
        print()

solution29(5,5)

10101
10101
10101
10101
10101

In [100]:
''' 
30. Print box number pattern of 1s and 0s
11111
10001
10001
10001
10001
11111
'''

def solution30(row, col):
    for i in range(row):
        for j in range(col):
            if i == 0 or i == row-1 or j == 0 or j == col-1:
                print("1",end="")
            else:
                print("0",end="")
        print()
solution30(5,5)

11111
10001
10001
10001
11111

In [101]:
''' 
31. Print chessboard number pattern with 1 and 0
10101
01010
10101
01010
10101
'''
def solution31(row, col):
    for i in range(row):
        for j in range(col):
            if i % 2 == 0:
                if j % 2 == 1:
                    print("0",end="")
                else:
                    print("1",end="")
            else:
                if j % 2 == 0:
                    print("0",end="")
                else:
                    print("1",end="")
        print()
solution31(5,5)

10101
01010
10101
01010
10101

In [103]:
''' 
32. Print box number pattern with plus in center
11011
11011
00000
11011
11011
'''

def solution32(row, col):
    midrow = row//2
    midcol = col // 2
    for i in range(row):
        for j in range(col):
            if i == midrow or j == midcol:
                print("0",end="")
            else:
                print("1",end="")
        print()

solution32(5,5)

11011
11011
00000
11011
11011

In [108]:
''' 
33.  Print box number pattern of 1 and 0 with cross center
'''
def solution33(row, col):
    for i in range(1,row+1):
        for j in range(1,col+1):
            if i == j or j == (col+1)-i:
                print("1",end="")
            else:
                print("0",end="")
        print()
solution33(5,5)

10001
01010
00100
01010
10001

In [109]:
''' 
34. Print circle box number pattern with 1 and 0
01110
10001
10001
10001
01110

'''
def solution34(row, col):
    for i in range(row):
        for j in range(col):
            if i == 0 or i == row-1:
                if j == 0 or j == col-1:
                    print("0",end="")
                else:
                    print("1",end="")
            else:
                if j == 0 or j == col -1:
                    print("1",end="")
                else:
                    print("0",end="")
        print()
solution34(5,5)

01110
10001
10001
10001
01110

In [113]:
''' 
35. pattern
12345
23456
34567
45678
56789
'''

def solution35(row, col):
    for i in range(row):
        col = col +1
        for j in range(i+1,col):
            print(j,end="")
        print()
solution35(5,5)

12345
23456
34567
45678
56789

In [116]:
''' 
36. PATTERN
1  2  3  4  5
6  7  8  9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25
'''

def solution36(row, col):
    count = 1
    for i in range(row):
        for j in range(col):
            print(count,end=" ")
            count += 1
        print()
solution36(5,5)

1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25

In [3]:
''' 
37. PATTERN
1
22
333
4444
55555
'''
def solution37(n):
    for i in range(1,n+1):
        for j in range(i):
            print(i,end="")
        print()

solution37(5)

1
22
333
4444
55555

In [4]:
''' 
38. PATTERN
    1
   22
  333
 4444
55555
'''
def solution38(n):
    for i in range(1,n+1):
        for j in range(i,n):
            print(" ",end="")
        for j in range(1,i+1):
            print(i,end="")
        print()
    
solution38(5)

    1
   22
  333
 4444
55555

In [7]:
''' 
39. 
55555
4444
333
22
1
'''
def solution39(n):
    for i in range(n,0,-1):
        for j in range(i):
            print(i,end="")
        print()

solution39(5)

55555
4444
333
22
1

In [8]:
''' 
40. PATTERN
5
44
333
2222
11111
'''
def solution40(n):
    for i in range(n,0,-1):
        for j in range(n-i+1):
            print(i,end="")
        print()
solution40(5)

5
44
333
2222
11111

In [11]:
''' 
41. pattern
1
12
123
1234
12345

'''
def solution41(n):
    for i in range(1,n+1):
        for j in range(1,i+1):
            print(j,end="")
        print()
solution41(5)

1
12
123
1234
12345

In [12]:
''' 
42. pattern
1
21
321
4321
54321
'''
def solution42(n):
    for i in range(1,n+1):
        for j in range(i,0,-1):
            print(j,end="")
        print()
solution42(5)

1
21
321
4321
54321

In [16]:
''' 
43. pattern
5
54
543
5432
54321
'''

def solution43(n):
    for i in range(n,0,-1):
        for j in range(n,i-1,-1):
            print(j,end="")
        print()
solution43(5)

5
54
543
5432
54321

In [19]:
''' 
54321
5432
543
54
5

'''
def solution44(n):
    for i in range(1,n+1):
        for j in range(n,i-1,-1):
            print(j,end="")
        print()
solution44(5)

54321
5432
543
54
5

In [25]:
'''
45. 
5
45
345
2345
12345

'''

def solution45(n):
    for i in range(n,0,-1):
        for j in range(i,n+1):
            print(j,end="")
        print()
solution45(5)

5
45
345
2345
12345

In [30]:
''' 
46. 
1
23
345
4567
56789
'''
def solution46(n):
    k = 1
    for i in range(1,n+1):
        k = i
        for j in range(i):
            print(k,end=" ")
            k += 1
        print()
solution46(5)

1
2 3
3 4 5
4 5 6 7
5 6 7 8 9

In [ ]:
''' 
47. 
13579
3579
579
79
9

'''

def solution47(n):
    for i in range(1,n+1):
        k = (2*i) -1
        for j in range(i,n+1):
            print(k,end="")
            k += 2
        print()
solution47(5)

13579
3579
579
79
9